.card-content-container {
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.qr-code-button {
  background: #fff;
  width: 188px;
  height: 188px;

  outline: none;
  border: none;
  padding: 17px;
  border-radius: 25px;
  cursor: pointer;

  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));

  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark-mode .qr-code-button {
  background: #1c1e23;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}

.qr-code {
  width: 80%;
  height: 80%;
}

body.dark-mode .qr-code-button {
  background: #1c1e23;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}

.short-url-row {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.short-url-container {
  background: #F7F8FA;
  width: auto;

  border-radius: 15px;
  padding: 0 15px 0 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body.dark-mode .short-url-container {
  background: #25282f;
}

.short-url-container .first {
  color: #b3b3b3;
  font-weight: regular;
}

.short-url-container .second {
  color: #6f767b;
  font-weight: medium;
}

.copy-button {
  background: #DA667B;
  width: 32px;
  height: 32px;

  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.generated-analytics-button {
    background: none;
    width: 159px;
    height: 38px;

    border: #747474 1px solid;
    border-radius: 53px;
    outline: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    color: #747474;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; /* semibold */
}