body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #da667b, #f1e0c5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body.dark-mode {
  background: #181a20;
  background: linear-gradient(135deg, #6b3f3f, #2e1a1a);
  color: #fff;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  background: #ffffff;
  width: auto;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 8px 16px rgba(52, 42, 33, 0.2);
  text-align: center;
  max-width: 380px; /* originally 500px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

body.dark-mode .card {
  background: #1c1e23;
  border: #2f373d 1px solid;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.logo-container {
  width: 100%;
  height: 60px;
  overflow: visible;
}
.logo {
  width: inherit;
  height: inherit;
}

.logo path {
  /* fill: #da667b; */
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

input {
  /* width: 100%; */
  color: #676e8b;
  background: #f4f6f8;
  padding: 20px 16px 20px 16px;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: border-color 0.3s;
}

body.dark-mode input {
  background: #1e2025;
  color: #fff;
  border: 1px solid #2f373d;
}

body.dark-mode input::placeholder {
  color: #737b81;
}

input:focus {
  /* border-color: #da667b; */
  outline: none;
}

.submit-button {
  width: 100%;
  background: #da667b;
  border-radius: 12px;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 12px;

  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

.analytics-button {
  width: 100%;
  background: #F4F6F8;
  border-radius: 12px;
  border: rgba(120, 127, 152, 0.14) 2px solid;
  cursor: pointer;
  outline: none;
  padding: 12px;

  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
  color: #787F98;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

body.dark-mode .analytics-button {
  background: #1e2025;
  color: #fff;
  border: rgba(120, 127, 152, 0.14) 2px solid;
}

.error {
  color: #da667b;
  margin-top: 10px;
}

.result {
  margin-top: 20px;
  background: #f1e0c5;
  padding: 15px;
  border-radius: 5px;
}

body.dark-mode .result {
  background: #23242a;
  color: #fff;
}

.result a {
  color: #342a21;
  text-decoration: none;
}

body.dark-mode .result a {
  color: #da667b;
}

.result a:hover {
  text-decoration: underline;
}

.buy-me-a-coffee-container {
  width: 100vw;
  height: fit-content;
  position: fixed;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
}

.buy-me-a-coffee-icon {
  background-color: #da667b;
  width: 8rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  opacity: 0.6;
  box-shadow: 0px 8px 16px rgba(52, 42, 33, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.buy-me-a-coffee-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}
